<!--
    To do: Loop through movies and display each one with this HTML
    <div class="movie">
      movie image goes here
      <h3> movie title goes here </h3>
      <p> movie release year goes here </p>
    </div>
    -->   
<div class="w3-main">
  <div class="w3-container w3-center">
  	
  <h2>Popular Films</h2>
  
  <% @movies.each do |movie|%>
  	<div class="w3-quarter w3-container w3-padding-24">
      <%= image_tag movie.image %>
      <h3> <%= movie.title %> </h3>
      <p> <%= movie.release_year %> </p>
      <p><%= movie.plot %></p>
      <%= link_to "Learn more", movie_path(movie) %>
    </div>
  <%end%>

  </div>
</div>
